.bird-details {
    &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border: 1px solid $dark-mode-border;
    border-radius: 0.25rem;
    background-color:$dark; 
    padding: 1rem;
    font-weight: 400;
    width: auto;
    overflow: hidden;
        @include mini {
            display:none;
        }
    }

    &-name-text {
    border-bottom: 1px solid $dark-mode-border;
    padding: 0rem 0rem 1rem ;
    margin: 0px 0px 0px 0.5rem;        
   
    }
    &-species-text {
        @extend .bird-details-name-text;
        padding: 0.25rem 0rem 0rem ;         
    }

    &-image {
        width: 200px;
        height: 155px;
        border-radius: 0.625rem;
        object-fit: cover;            
        }

    &-description {
        grid-column: span 2;
        font-weight: 600;
        max-width: auto;
    }

}
