.bird-details {
    &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border: 1px solid $dark-mode-border;
    border-radius: 0.25rem;
    background-color:$dark; 
    padding: 1rem;
    font-weight: 400;
    width: auto;
    overflow: hidden;
    }

    &-name-text {
    border-bottom: 1px solid $dark-mode-border;
    padding: 0rem 0rem 1rem 0rem;
    margin: 0px;
   
    }
    &-species-text {
        border-bottom: 1px solid $dark-mode-border;
        padding: 0.25rem 0rem;
        margin: 0px;
        }

    &-image {
        width: 200px;
        height: 155px;
        border-radius: 0.625rem;
        object-fit: cover;
        }

    &-description {
        grid-column: span 2;
        font-weight: 600;
        max-width: auto;
    }

}
