.header-container {   
    display: flex; 
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    justify-content: space-between;
    align-items: center;    
    .score {        
        font-size: 1.172rem;
        font-weight: 700;        
    }
}
.logo {
    max-width: 200px;
}

