.App-container {
    max-width: 960px;
    max-width: 960px;
    padding: 0 0.938rem;
    margin: 0 4.5rem;
   
    @media (max-width: 992px) {
        max-width: 960px;
    }
   
    @media (max-width: 768px) {
        max-width: 720px;
    } 
    
    @media (max-width: 576px) {
        max-width: 540px;
    }
}



