.answer-container {    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content(400px);
    grid-column-gap: 1.75rem;
    margin: 0px;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 1.56rem;
    
}

.birds-list-container {  
    list-style-type: disc;
    list-style-position: inside;
    padding: 0px; 
    margin: 0px;  
    .bird-item {
        border: 1px solid $dark-mode-border;
        border-bottom: none;
        background-color:$dark; 
        padding: 0.85rem 1.25rem;
        font-weight: 400;        
        
    }
    .bird-item:focus {
        background-color:$dark-mode-border;
    }
    .bird-item:hover {
        background-color:$dark-mode-border;
    }
    .bird-item::marker {
        color: $dark-mode-border;
        font-size: 1.75rem;        
    }
    .bird-item:first-child {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    .bird-item:last-child {
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        border-bottom: 1px solid $dark-mode-border;
    }

    .bird-item--correct{
        @extend .bird-item;
        &::marker {
            color: $green;
            font-size: 1.75rem;     
        }
    }
    
    .bird-item--incorrect{
        @extend .bird-item;
        &::marker {
            color: $red;
            font-size: 1.75rem;     
        }
    }

}

.hidden {
    display: none;
}

.bird-details--dummy {
    border: 1px solid $dark-mode-border;
    border-radius: 0.25rem;
    background-color:$dark; 
    padding: 1rem;    
    font-weight: 400; 
    &-text {
        display:block;
    }
    
}
